<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="to" value="saqibarsalan1997@gmail.com" />
    <add key="from" value="anosha.rehan15@gmail.com" />
    <add key="password" value="anoshia110" />
    <add key ="Path" value="C:\\Users\\New\\Desktop\\TestFolder\\TestFile.txt"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>